<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="css/jquery.mobile.flatui.css">
    <script type="text/javascript">
        //Soporte para el Webkit
        window.requireNode = window.require;
        window.require = undefined;
    </script>
    <script src="cordova.js"></script>
    <script src="childbrowser.js"></script>
    <script src="webintent.js"></script>
    <script src="PushNotification.js"></script>
    <script src="externallib/jquery-1.8.1.min.js"></script>
    <script src="externallib/jquery.mobile-1.3.2.js"></script>
    <script src="externallib/md5.js"></script>
    <script src="externallib/matchMedia.js"></script>
    <script src="externallib/matchMedia.addListener.js"></script>
    <script src="externallib/underscore.js"></script>
    <script src="externallib/backbone.js"></script>
    <script src="externallib/backbone-localstorage.js"></script>
    <script src="lib/mm.js"></script>
    <script src="lib/mm.tpl.js"></script>
    <script src="lib/mm.db.js"></script>
    <script src="lib/mm.lang.js"></script>
    <script data-main="lib/app.js" src="externallib/require.js"></script>

</head>
<body>

    <div data-role="page" id="login">

    </div>

    <div data-role="page" id="principal" style="display: none">

    </div>

    <!--Pantalla de login Inicio -->
    <script type="text/template" id="login_template">
        <div data-role="header" class="ui-bar-e" data-position="fixed">
            <h1>Acceso!</h1>
        </div>
        <p />
        <div data-role="content" class="ui-content">
            <h2>Introduce tus datos</h2>
            <form action="">
                <label for="moodle">Moodle:</label>
                <select id="moodle">
                    <option value="http://localhost/moodle25">Localhost</option>
                </select>
                <label for="username">Usuario:</label>
                <input type="text" id="username" autocapitalize="off" autocorrect="off" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" autocapitalize="off" autocorrect="off" required>
                <a data-role="button" id="boton_login">Entrar</a>
            </form>
        </div>
    </script>
    <!--Pantalla de login fin -->

    <!-- Pantalla principal inicio -->
    <script type="text/template" id="principal_template">
        <div data-role="header" class="ui-bar-e">
            <h1>Bienvenido! <%= usuario.nombre %> </h1> <img src="<%= usuario.avatar %>">
        </div>
        <div data-role="content" class="ui-content">
            <ul data-role="listview">
                <li data-role="list-divider">Mis cursos</li>
                <div data-role="collapsible-set" data-theme="f" data-content-theme="c" data-corners="false">
                    <% _.each(courses, function(course) { %>
                    <div data-role="collapsible" data-collapsed-icon="flat-calendar" data-expanded-icon="flat-cross">
                        <h3><%= course.fullname %></h3>
                        <ul data-role="listview">
                            <li>Soy hijo del curso: <%= course.fullname %></li>
                            <li>Mi nombre corto es: <%= course.shortname %></li>
                            <li>Tengo: <%= course.enrolledusercount %> usuarios inscritos</li>
                        </ul>
                    </div>
                    <% }); %>
                </div>
                <li data-role="list-divider">Perfil</li>
                <li><a href="#" data-transition="slideup">Ver Perfil</a></li>
                <li><a href="#" data-transition="pop">Mensajes</a></li>
                <li data-role="list-divider">Ajustes</li>
                <li><a href="#">Ajustes de la cuenta</a></li>
                <li><a href="#">Ajustes de la aplicación</a></li>
                <li data-role="list-divider"><a href="#salir" data-role="button">Salir</a></li>
            </ul>
        </div>
    </script>
    <!-- Pantalla principal fin -->
</body>
</html>
